---
import Pills from "./Pills.astro";

interface Props {
  title: string;
  text: string;
  img: string;
  pills: Array<string>;
}

const { title, text, pills, img } = Astro.props;
---

<div
  class="customCard
flex
flex-col
bg-slate-500
rounded-md
max-w-60
mb-16
md:max-w-4xl"
>
  <div class="flex flex-row content-between text-ellipsis overflow-hidden">
    <div class="textContainer space-y-5 mb-3 mt-3">
      <h3>{title}</h3>
      <p>
        {text}
      </p>
    </div>
    <div>
      <img class="mockup" src={img} alt="mockup" />
    </div>
  </div>
  <div class="bottomBar flex items-center pl-5 space-x-2">
    {pills.map((item) => <Pills title={item} />)}
  </div>
</div>

<style>
  .customCard {
    background-color: rgba(32, 19, 58, 0.4);
    border-color: #00d2a193;
    border-width: 1px;
    border-radius: 5px;
    background: linear-gradient(rgba(32, 19, 58, 0.4), rgba(0, 210, 160, 0.2));
  }
  .bottomBar {
    background-color: rgba(0, 210, 160, 0.2);
    height: 20%;
    width: 100%;
  }
  .textContainer {
    padding-inline: 20px;
    padding-top: 10px;
    margin-bottom: auto;
    width: 60%;
    height: 250px;
  }
  .mockup {
    position: absolute;
    transform: translateX(-20%);
    transform: translateY(-15%);
    max-width: 40%;
    max-height: 40%;
    width: auto;
    height: auto;
  }
  .customCard:hover {
    border-color: #00d2a1c6;
    box-shadow: 0px 0px 15px rgba(0, 210, 161, 0.542);
  }
</style>
