<div class="containerForm mt-10">
  <div class="flex flex-row justify-between mb-10">
    <input class="customInput" placeholder="Nombre" type="text" />
    <input class="customInput" placeholder="Email" type="email" />
  </div>
  <textarea
    class="txtArea"
    placeholder="Describe tu solicitud"
    name="Descripcion"
    id="1"></textarea>
  <button class="btn mt-10">Enviar</button>
</div>

<style>
  .containerForm {
    width: 950px;
    height: auto;
    border-color: #00d2a0;
    border-width: 1px;
    border-radius: 5px;
    padding-inline: 10%;
    padding-block: 5%;
  }

  .customInput {
    background-color: transparent;
    border-width: 1px;
    border-color: #00d2a0;
    border-radius: 5px;
    width: 350px;
    height: 45px;
    padding-inline: 20px;
  }

  .txtArea {
    background-color: transparent;
    width: 100%;
    min-height: 200px;
    height: auto;
    border-color: #00d2a0;
    border-width: 1px;
    border-radius: 5px;
    padding: 20px;
  }

  .btn {
    height: 45px;
    width: 100%;
    background-color: #00d2a0;
    color: #120a29;
    font-weight: bold;
    border-radius: 5px;
  }
  .btn:hover {
    background-color: #00d2a1bf;
  }
</style>
