---

---

<div class="navbar">
  <img class="max-w-16" src="../../src/assets/images/Logo.png" alt="Logo" />
  <nav class="link-container">
    <a class="link-nav" href="/about">Sobre mi</a>
    <a class="link-nav" href="">Proyectos</a>
    <a class="link-nav" href="">Experiencia</a>
    <a class="link-nav" href="">Contacto</a>
  </nav>
</div>

<style>
  .link-container {
    margin-left: auto;
  }
  .link-nav {
    color: white;
    margin-left: 2rem;
    text-decoration: none;
    font-size: larger;
  }
  .navbar {
    background-color: hsl(255, 61%, 10%, 0.1);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;
    padding-inline: 20rem;
    position: sticky;
    top: 0;
  }
</style>
