---
import type { Icon } from "astro/runtime/client/dev-toolbar/ui-library/icons.js";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="pills">
  <span>{title}</span>
</div>

<style>
  .pills {
    padding-inline: 10px;
    padding-block: 3px;
    background-color: rgba(0, 210, 160, 0.15);
    border-radius: 5px;
    border-width: 1px;
    border-color: #00d2a0;
  }
</style>
